@tailwind base;
@tailwind components;
@tailwind utilities;

/*

azul: #004aad
verde: #00bf63
cinza: #ededed

*/

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}
@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 2s ease-in-out forwards;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
  font-family: var(--font-Nunito-sans);
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.bg-tag {
  background-color: #ededed !important;
}

.text-tag {
  color: #004aad;
}

.btn {
  background-color: #004aad !important;
  color: #ffffff;
}

.btn-outlined {
  border: 1px solid #004aad !important;
  background-color: #ffffff;
  color: #ffffff;
}
